<div class="modal-header">
    <h4 class="modal-title">Grupos Asignados a {{nombre}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul>
        <li *ngFor="let seccion of seccionesTutor">
            {{seccion.agno}}
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>