<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" class="text-center">Periodo</th>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      <th scope="col" class="text-center">4</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center">6</th>
      <th scope="col" class="text-center">7</th>
      <th scope="col" class="text-center">8</th>
      <th scope="col" class="text-center">9</th>
      <th scope="col" class="text-center">10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3" class="cienciasBasicas align-middle text-center">Área de Ciencias Básicas</th>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 001'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 007'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 008'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 006'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 251'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 259'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 260'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 254'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 003'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 002'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 004'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 007'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 250'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 253'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 257'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 261'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 262'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 003'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 005'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 256'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ISCC 201'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ISCC 202'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="ingenieria align-middle text-center">Área de Ingeniería en Computación</th>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 001'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 004'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 010'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 261'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 252'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 254'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 255'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="''"></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 005'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'CCOS 013'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ISCO 201'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'IDDS 001'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 251'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 252'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="''"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="''"></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="tecnologia align-middle text-center">Área de Tecnología</th>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ISCO 200'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="'ICCS 258'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'IDCC 202'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [clave]="''"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="''"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'IDDS 002'"></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="general align-middle text-center">Área de Formación General Universitaria</th>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 004'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 005'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 006'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 007'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 001'"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [clave]="'FGUS 002'"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
  </tbody>
</table>
