<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" class="text-center">Periodo</th>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      <th scope="col" class="text-center">4</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center">6</th>
      <th scope="col" class="text-center">7</th>
      <th scope="col" class="text-center">8</th>
      <th scope="col" class="text-center">9</th>
      <th scope="col" class="text-center">10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3" class="cienciasBasicas align-middle text-center">Área de Ciencias Básicas</th>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1"></td>
    </tr>
    <tr>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
    </tr>
    <tr>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="ingenieria align-middle text-center">Área de Ingeniería en Computación</th>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="tecnologia align-middle text-center">Área de Tecnología</th>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1"></td>
    </tr>
    <tr>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="general align-middle text-center">Área de Formación General Universitaria</th>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
    </tr>
    <tr>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1">
        <app-alumno-materia></app-alumno-materia>
      </td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
      <td class="p-1"></td>
    </tr>
  </tbody>
</table>
