<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" class="text-center">Periodo</th>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      <th scope="col" class="text-center">4</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center">6</th>
      <th scope="col" class="text-center">7</th>
      <th scope="col" class="text-center">8</th>
      <th scope="col" class="text-center">9</th>
      <th scope="col" class="text-center">10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3" class="cienciasBasicas align-middle text-center">Área de Ciencias Básicas</th>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 001')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 007')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 008')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 006')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 251')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 259')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 260')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 254')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 003')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 002')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 004')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 007')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 250')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 253')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 257')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 261')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 262')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 003')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 005')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 256')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ISCC 201')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ISCC 202')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="ingenieria align-middle text-center">Área de Ingeniería en Computación</th>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 001')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 004')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 010')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 261')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 252')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 254')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 255')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <div class="card text-center text-center mx-0 px-0">
          <div class="card-body px-1 py-1">
            <a routerLink="/alumno/optativas" routerLinkActive="active">Optativa Desit</a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 005')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('CCOS 013')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ISCO 201')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('IDDS 001')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 251')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 252')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('SSCC 100')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('PPCc 101')"></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="tecnologia align-middle text-center">Área de Tecnología</th>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ISCO 200')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('ICCS 258')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('IDCC 202')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1">
          <div class="card text-center text-center mx-0 px-0">
              <div class="card-body px-1 py-1">
                <a routerLink="/alumno/optativas" routerLinkActive="active">Optativa 1</a>
              </div>
            </div>
      </td>
      <td class="px-1">
          <div class="card text-center text-center mx-0 px-0">
              <div class="card-body px-1 py-1">
                <a routerLink="/alumno/optativas" routerLinkActive="active">Optativa 2</a>
              </div>
            </div>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('IDDS 002')"></app-alumno-materia>
      </td>
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="general align-middle text-center">Área de Formación General Universitaria</th>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 004')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 005')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 006')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 007')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
    <tr>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 001')"></app-alumno-materia>
      </td>
      <td class="px-1">
        <app-alumno-materia [datos]="getMateria('FGUS 002')"></app-alumno-materia>
      </td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
      <td class="px-1"></td>
    </tr>
  </tbody>
</table>
