<div class="card text-center my-5">
    <div class="card-header">
      <img src="../../../assets/factultad.png" class="card-img-top" alt="" width="auto" height="auto">
    </div>
    <div class="card-body my-4">
      <h3 class="card-title">¡Hola!</h3>
      <div class="card-text">
        <div class="row my-4">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 h5">
            Nombre:
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            {{tutor.nombre}}
          </div>
        </div>
      </div>
    </div>
  </div>