<div class="card text-center my-5">
  <div class="card-body my-4">
    <div class="row lg-12">
      <div class="col-lg-8 offset-md-1">
        <div class="row mx-5">
          <div class="h3 text-center mx-auto">
            Alumnos por sección
          </div>
        </div>
        <div class="row my-4 justify-content-center">
          <select class="form-control" style="width: 100" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 alumnos por página</option>
            <option [ngValue]="30">30 alumnos por página</option>
            <option [ngValue]="50">50 alumnos por página</option>
          </select>
        </div>
        <div class="row my-5">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Avance</th>
                <th scope="col">Proyeccion</th>
                <th scope="col">Seccion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of alumnos | paginate: {itemsPerPage: pageSize, currentPage: p}"
                (click)="seleccionarAlumno(alumno.matricula, alumno.nombre)"
                [ngClass]="{'bg-info': alumno.matricula==alumnoSeleccionado}">
                <th scope="row">{{ alumno.matricula }}</th>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.avance_realizado }}</td>
                <td>{{ alumno.proyeccion_realizada }}</td>
                <td>{{ alumno.seccion_id }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="pagina">
            <pagination-controls [id]="" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="col align-self-center offset-md-1 ">
        <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="open()">
          Restablecer
        </button>
      </div>
    </div>
  </div>
</div>