<div class="card text-center my-5">
<div class="card-body my-4">

<div class="row lg-12">

    <div class="col-lg-8 offset-md-1">
        <div class="row mx-5">
            <div class="h3 text-center mx-auto">
                Alumnos por sección
              </div>
        
        </div>

      <div class="row my-4">

          <div class="col-sm-12 col-lg-6 col-md-5 h5">
              <select class="form-control" style="width: 100" [(ngModel)]="pageSize">
                  <option [ngValue]="4">4 alumnos por página</option>
                  <option [ngValue]="6">6 alumnos por página</option>
                  <option [ngValue]="10">10 alumnos por página</option>
                </select>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-5 h5">
              <select class="form-control" style="width: 100" [(ngModel)]="defseccion">
                  <option [ngValue]="''">Elige una sección</option>
                  <option [ngValue]="'01-2017'">01-2017</option>
                  <option [ngValue]="'02-2017'">02-2017</option>
                  <option [ngValue]="'03-2017'">03-2017</option>
                  <option [ngValue]="'01-2018'">01-2018</option>
                  <option [ngValue]="'02-2018'">02-2018</option>
                  <option [ngValue]="'03-2018'">03-2018</option>
                  <option [ngValue]="'01-2019'">01-2019</option>
                  <option [ngValue]="'02-2019'">02-2019</option>
                </select>
            </div>
        
      </div>
      <div class="row my-5">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sección</th>
                <th scope="col">Matricula</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let country of countries; index as i" (click)="onRowClicked(country.id)" [ngClass]="{'bg-info': country.id==PaisSeleccionado}" >
                <th scope="row">{{ country.id }}</th>
                <td>{{ country.name }}</td>
                <td>{{ country.area | number}}</td>
                <td>{{ country.seccion }}</td>
                
              </tr>

              
            </tbody>
          </table>
          
    </div>
      <div class="row">
        <div class="d-flex justify-content-between p-1 " >
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
          
  
          
        </div>
  </div>
  </div>

  <div class="col align-self-center offset-md-1 ">
      <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="open()">
          Restablecer
        </button>
  </div>
  

  </div>
</div>
</div>