<div class="container-fluid">
  <div class="row bg-dark ">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <p class="justify-content-start">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.png" width="180" height="60" alt="" class="img-fluid">
        </a>
      </p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">
      <p class="text-white text-center h1 mt-3">
        SIMCA FCC
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <img src="../../assets/login.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card text-center my-auto">
        <div class="card-header">
          <img src="../../../assets/factultad.png" class="card-img-top" alt="" width="auto" height="auto">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="card-body">
            <div class="card-title h4 my-5">
              Tipo de usuario
            </div>
            <div class="card-text">
              <div class="row my-3">
                <div class="col-12">
                  <select class="custom-select" formControlName="usuarioSeleccionado" (change)="limpiarCampos()">
                    <option class="custom-select" *ngFor="let usuario of usuarios" [ngValue]="usuario.value">{{usuario.usuario}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row my-3">
                <div class="col-sm-12 col-md-12 col-lg-5 h5">
                  <label for="inputUser" class="col-form-label" *ngIf="loginForm.value.usuarioSeleccionado == 1">Matrícula:</label>
                  <label for="inputUser" class="col-form-label" *ngIf="loginForm.value.usuarioSeleccionado == 2">Número de Trabajador:</label>
                  <label for="inputUser" class="col-form-label" *ngIf="(loginForm.value.usuarioSeleccionado == 3 || loginForm.value.usuarioSeleccionado == 4)">Usuario:</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7">
                  <input type="text" formControlName="user" class="form-control" id="inputUser" *ngIf="(loginForm.value.usuarioSeleccionado == 1 || loginForm.value.usuarioSeleccionado == 2)">
                  <input type="text" formControlName="user" class="form-control" id="inputUser" placeholder="Coordinador" *ngIf="loginForm.value.usuarioSeleccionado == 3" disabled>
                  <input type="text" formControlName="user" class="form-control" id="inputUser" placeholder="Administrador" *ngIf="loginForm.value.usuarioSeleccionado == 4" disabled>
                </div>
              </div>
              <div class="form-group row my-3">
                <div class="col-sm-12 col-md-12 col-lg-5 h5">
                  <label for="inputPassword" class="col-form-label">Contraseña:</label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7">
                  <input type="password" formControlName="password" class="form-control" id="inputPassword">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <ngb-alert *ngIf="successMessage" type="danger" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            <p>
              <button type="submit" class="btn btn-outline-primary">Ingresar</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <h3>Información adicional</h3>
        <ul class="list-unstyled three-column">
          <li>Modelos de desarrollo web</li>
          <li>Web</li>
          <li>Angular</li>
          <li>Componentes</li>
          <li>Laravel</li>
          <li>Servicio</li>
          <li>Diseño responsivo</li>
          <li>Api</li>
        </ul>
        <h5>Información del docente</h5>
        <ul>
          <li>Jose Bernardo Victorino Parra (El Parra)</li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h3>Últimos proyectos</h3>
        <div class="media">
          <div class="media-body">
            <a href="https://github.com/oscar2706/AlumnosICC_Servicio"
              class="media-heading h4">Servicio ICC (Laravel)</a>
            <p>API RESTful desarrollada en Laravel para el proyecto de Alumnos ICC</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <a href="https://github.com/oscar2706/DelfinDorado"
              class="media-heading h4">Delfin Dorado</a>
            <p>Proyecto desarrollado en Qt para un restaurante de mariscos</p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <a href="https://github.com/oscar2706/Tengular"
              class="media-heading h4">Tengular</a>
            <p>Proyecto web desarrollado en Angular para un club de tenis</p>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <h3>Redes sociales</h3>
        <ul>
          <li>
            <a class="h4" href="https://www.facebook.com/patric.metal">Oscar Patricio Hernández</a>
          </li>
          <li>
            <a class="h4" href="https://www.facebook.com/luis.leo.794">Luis Leonardo Amador Barrientos</a>
          </li>
          <li>
            <a class="h4" href="https://www.facebook.com/Estefania.sarb">Estefania Sarmiento Barrios</a>
          </li>
          <li>
            <a class="h4" href="https://www.facebook.com/May.Vane.Montie">Mayra Vanessa Montiel Estrada</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2019 <span>SIMCA FCC</span>
  </div>
</footer>
