<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="bg-dark justify-content-start">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.png" width="180" height="60" alt="" class="img-fluid">
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <img src="../../assets/login.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card text-center my-auto">
        <div class="card-header">
          <img src="../../../assets/factultad.png" class="card-img-top" alt="" width="auto" height="auto">
        </div>
        <div class="card-body">
          <div class="card-title h4 my-5">
            Tipo de usuario
          </div>
          <div class="card-text">
            <div class="row my-3">
              <div class="col-12">

              </div>
            </div>
            <div class="row my-3">
              <div class="col-4 h5">
                Matrícula:
              </div>
              <div class="col-8">

              </div>
            </div>
            <div class="row my-3">
              <div class="col-4 h5">
                Contraseña:
              </div>
              <div class="col-8">

              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>