<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa I (Octavo Semestre)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa II (Noveno Semestre)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa DESIT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <app-alumno-materia></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>