<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa I (Octavo Semestre)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 600')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 605')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 601')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 603')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('CCOS 601')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('CCOS 607')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('CCOS 608')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 602')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 607')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('CCOS 264')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 606')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 604')"></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa II (Noveno Semestre)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 611')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 608')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 609')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 610')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('CCOS 600')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 614')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 613')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 617')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 615')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 612')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('ICCS 616')"></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Optativa DESIT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('DESIT 1')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('DESIT 2')"></app-alumno-materia>
            </th>
          </tr>
          <tr>
            <th scope="row" class="px-5 mx-5">
              <app-alumno-materia [datos]="getMateria('DESIT 3')"></app-alumno-materia>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
