.cienciasBasicas {
  background-color: #E9FDC9
}

.ingenieria {
  background-color: #CDDFFF
}

.tecnologia {
  background-color: #D4C7E8
}

.general {
  background-color: #FFFFCB
}

.card-cienciasBasicas {
  background-color: #E9FDC9;
  border-color    : #4D7B40;
  color           : #49525B;
}

.card-ingenieria {
  border-color: #CDDFFF
}

.card-tecnologia {
  border-color: #D4C7E8
}

.card-general {
  border-color: #FFFFCB
}
