<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<app-bar-left></app-bar-left>
<app-central></app-central>
<app-navbar></app-navbar>
<app-central2></app-central2>
<app-reset-passwd></app-reset-passwd>
<app-proyecciones></app-proyecciones>
<router-outlet></router-outlet>