<div class="card text-center my-5">
  <div class="card-header">
    <img src="../../../assets/factultad.png" class="card-img-top" alt="" width="auto" height="auto">
  </div>
  <div class="card-body my-4">
    <h3 class="card-title">¡Hola!</h3>
    <div class="card-text">
      <div class="row my-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 h5">
          Nombre:
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          {{alumno.nombre}}
        </div>
      </div>
      <div class="row my-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 h5">
          Matrícula:
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          {{alumno.matricula}}
        </div>
      </div>
      <div class="row my-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 h5">
          Progreso:
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          {{porcentajeAvance | number:'1.0-1'}}%
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="ventanaAbierta==1 && enFechaAvance">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="ventanaAbierta==2 && enFechaAvance">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="ventanaAbierta==3 && alumno.proyeccion_realizada == 0">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h5>
      Tutor
    </h5>
    <p>
      Abraham Sánchez López
    </p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Guardar Cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Solo puede realizar este proceso 1 vez en el periodo establecido. ¿Desea guardar los cambios realizados?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="guardado()">Aceptar</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
