<div class="card text-center my-5">
  <div class="card-header">
    <img src="../../../assets/factultad.png" class="card-img-top" alt="" width="300" height="100">
  </div>
  <div class="card-body my-4">
    <h3 class="card-title">¡Hola!</h3>
    <div class="card-text">
      <div class="row my-4">
        <div class="col-5 h5">
          Nombre:
        </div>
        <div class="col-7">
          Luis Leonardo Amador Barrientos
        </div>
      </div>
      <div class="row my-4">
        <div class="col-5 h5">
          Matrícula:
        </div>
        <div class="col-7">
          201639995
        </div>
      </div>
      <div class="row my-4">
        <div class="col-5 h5">
          Progreso:
        </div>
        <div class="col-7">
          100%
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h5>
      Tutor
    </h5>
    <p>
      Abraham Sánchez López
    </p>
  </div>
</div>