<div class="card text-center my-5">
  <div class="card-header">
    <img src="../../../assets/facultad.png" class="card-img-top" alt="" width="auto" height="auto">
  </div>
  <div class="card-body my-4">
    
    <div class="card-text">
      <div class="row my-4">
        <div class="col-sm-12 col-md-5 col-lg-5 h5">
          Sección:
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 h5">
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Elige una sección
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Sección 1-2016</a>
                  <a class="dropdown-item" href="#">Sección 2-2016</a>
                  <a class="dropdown-item" href="#">Sección 3-2016</a>
                </div>
              </div>
        </div>
        
  </div>
</div>