<div class="card text-center my-5">
    <div class="card-header">
      <img src="../../../assets/facultad.png" class="card-img-top" alt="" width="auto" height="auto">
    </div>
    
    <div class="card-body my-4">
        <div class="row my-4" h5>
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
                <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="opcion=1">
                    Nva. Proyección
                  </button>
            </div>
            <div class="col-sm-12 col-lg-7 col-md-5 h5">
                <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="opcion=2">
                    Nvo. Periodo de Marcado
                  </button>
              </div>
        </div>
  
      <div *ngIf="opcion==1">
        <div class="form">
      <div class="card-text">
        <div class="row my-4">
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
               Periodo
              </div>
              <div class="col-sm-12 col-lg-7 col-md-7 h5">                  
                  <select class="form-control" style="width: 100" [(ngModel)]="defperiodo">
                    <option [ngValue]="0">Elige un periodo</option>  
                    <option [ngValue]="1">Otoño</option>
                    <option [ngValue]="2">Primavera</option>
                    <option [ngValue]="3">Verano</option>
                    </select>
               
              </div>
        </div>
        
    
        <div class="row my-4">
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
            Fecha de inicio:
            </div>
          <div class="col-sm-12 col-lg-7 col-md-6 h5">
              <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="DD/MM/AAAA" name="dp" [(ngModel)]="model1" ngbDatepicker
                      #a="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    
        <div class="row my-4">
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
            Fecha de Fin:
            </div>
          <div class="col-sm-12 col-lg-7 col-md-6 h5">
              <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="DD/MM/AAAA" name="dp" [(ngModel)]="model2" ngbDatepicker
                      #b="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row my-4">
          <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="prueba()">
            Crear 
          </button>
    
        </div>
      </div>
    </div>
    </div>
  
    <div *ngIf="opcion==2">
        <div class="form">
      <div class="card-text">
    
        <div class="row my-4">
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
            Fecha de inicio:
            </div>
          <div class="col-sm-12 col-lg-7 col-md-6 h5">
              <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker
                      #a="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    
        <div class="row my-4">
            <div class="col-sm-12 col-lg-5 col-md-5 h5">
            Fecha de Fin:
            </div>
          <div class="col-sm-12 col-lg-7 col-md-6 h5">
              <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model2" ngbDatepicker
                      #b="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row my-4">
            <button type="button" class="btn btn-outline-info text-center mx-auto" (click)="prueba()">
                Crear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
          
    
  
      
      
  